<% content_for :title, "Editando lista" %>

<h1>Editando lista</h1>

<%= render "form", list: @list %>

<br>

<div>
  <%= link_to "Acessar lista", @list %>
  <%= link_to "Voltar ao início", lists_path %>
</div>
