<% content_for :title, "Nova lista" %>

<h1>Nova lista</h1>
<main id="new">
<%= render "form", list: @list %>
</main>
<div class="links">
  <%= link_to lists_path do %>
    <span class="material-symbols-outlined">home</span> Voltar ao início
  <% end %>
</div>