@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.list a, .btn_submit{
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.list a{
    background: linear-gradient(to right, #ffffff, rgb(230, 230, 230));
    color: rgb(50, 50, 50);
}
.btn_submit{
    background-color: rgb(75, 128, 161);
    color: rgb(255, 255, 255);
    margin: 10px 0;
    width: 300px;
}
section img{
    width: 300px;
}
form input[type="text"]{
    padding: 20px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px 0 0 5px;
    width: 200px;
}
#add_form{
    display: flex;
    align-items: center;
}
.btn_add{
    padding: 20px;
    border-radius: 0 5px 5px 0;
    background-color: rgb(75, 128, 161);
    color: rgb(255, 255, 255);
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
h2{
    margin: 0;
}
table{
    width: 100%;
}
.item{
    padding: 0 100px 0 0;
}